.box{
    width: 100%;
    height: 5302px;
}
.content{
    width: 1185px;
    height: 100%;
    margin: auto;
   
}
/*--------- header样式--------- */
.header{
    width: 100%;
    height: 80px;
    
}
.header .content{
    background: url(../images/images/logo.png) no-repeat;
    
}
.header ul{
    height: 80px;
    margin-left: 444px;
}
.header li{
    float: left;
    height: 80px;
    line-height: 80px;
    width: 90px;
    text-align: center;
}
.header a{
    list-style:none;
    text-decoration: none;
    color: #000000;
}
.header .a2{
    display:none;
}
.header li:hover .a2{
    display: block;
}
.header li:hover .a1{
    display: none;
}
/*-------banner样式--------  */
/* .banner{
    height: 448px;
    width: 100%;

    background-image: url(../images/images/56f3527bb57ce.jpg);
    background-size: contain;
    background-repeat: no-repeat;
} */
.banner img{
    width: 100%;
    height: 448px;
}
/* --------main1样式-------- */
.main1{
    width: 100%;
    height: 725px;


}
.main1 .content{
    background: url(../images/images/bus_h2.jpg) no-repeat center 42px;
    overflow: hidden;
    padding-top: 108px;
    height: 617px;
}
.main1 .h{
    font-size: 17px;
    line-height: 17px;
    margin-bottom: 7px;
    text-align: center;
    margin-top: 7px;
    color: #666666;
}
.main1 p:nth-child(2){
    margin-bottom: 57px;
}
.main1 .content .xian{
    width: 350px;
    height: 218px;
    float: left;
    margin: 0 43px 4px 0;
   
    overflow: hidden;
}
.main1 .content .yin{
    width: 352px;
    height: 218px;
    position: absolute;
    top:-218px;
   opacity: 1;
}
.main1 .content .xian{
    position: relative;
}
.main1 .content .x1{
    display: block;
    font-size: 22px;
    line-height: 71px;
   
    width: 228px;
    height: 71px;
    text-align: center;
    position: relative;
    top:-145px;
    left: 73px;
}
.main1 .main1_1 .s1{
    background-color: #179bdd;
}
.main1 .main1_2 .s22{
   background-color: #1767df;
}
.main1 .main1_3 .s3{
    background-color: #fbcf17;
} 
.main1 .main1_4 .s4{
    background-color: #e11284;
}
.main1 .main1_5 .s5{
    background-color: #f61d1a;
}
.main1 .main1_6 .s6{
    background-color: #91bf2f;
}
.main1 .content .yin1{
    background: rgb(0, 147, 221);
}
.main1 .content .yin2{
    background: rgb(0, 88, 221);
}
.main1 .content .yin3{
    background: rgb(255, 204, 0);
}
.main1 .content .yin4{
    background: #e4007f;
}
.main1 .content .yin5{
    background: rgb(248, 20, 20);
}
.main1 .content .yin6{
    background: rgb(143, 195, 31);
}
.main1 .content .main1_1:hover .yin1{
    opacity: 1;
    top:0;
    transition: all 0.6s;
}
.main1 .content .main1_2:hover .yin2{
    opacity: 1;
    top:0;
    transition: all 0.6s;
}
.main1 .content .main1_3:hover .yin3{
    opacity: 1;
    top:0;
    transition: all 0.6s;
}
.main1 .content .main1_4:hover .yin4{
    opacity: 1;
    top:0;
    transition: all 0.6s;
}
.main1 .content .main1_5:hover .yin5{
    opacity: 1;
    top:0;
    transition: all 0.6s;
}
.main1 .content .main1_6:hover .yin6{
    opacity: 1;
    top:0;
    transition: all 0.6s;
}
.main1 .content .k{
    font-size: 15px;
    line-height: 24px;
    color: #fff;
    margin:30px 20px 50px 30px ;
}
.main1 .content .s2{
   text-align: center;
   font-size: 14px;
   margin-top: 140px;
   color: #fff;
   position: relative;
   top:25px;
   left: 133px;

}
/* --------main2样式----------- */
.main2{
    width: 100%;
    height: 763px;
    background: #ebeff1;
   
}
.main2 .content{
    background: url(../images/images/clien_h2.jpg)no-repeat center 42px;
    padding-top: 108px;
    height: 655px;
}
.main2 .content div{
    width: 283px;height: 166px;
    border: 1px solid #ebeff1;
    float: left;
}
.main2 .content .m2{
    display: none;
}
.main2 .content div:hover .m2{
   display: inline;
}
.main2 .content div:hover .m1{
    display: none;
}
.main2 p{
    font-size: 18px;
    line-height: 18px;
    color: #666666;
    text-align: center;
    margin-bottom: 56px;
}
/* -------main3样式---------- */
.main3{
    width: 100%;
    height:682px;
    
    
}
.main3 .content{
    background: url(../images/images/work_h2.jpg)no-repeat center 42px;
    height: 570px;
    padding-top: 112px;
    font-size: 0px;
}
.main3 .content p{
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #666666;
    margin-bottom: 55px;
}
.main3 .content img{
    display: inline-block;
    width: 283px;
    height: 212px;
    border-bottom: 1px solid #ffffff;
    border-right: 2px solid #ffffff;
}
/* ---------main4样式--------- */
.main4{
    width: 100%;
    height: 802px;
    background-image: url(../images/images/ind_news_bg.jpg);
    background-size: cover;
}
.main4 .content{
    padding-top: 112px;
    height: 690px;
    background: url(../images/images/news_h2.jpg)no-repeat center 42px;
}


.main4 .content .p1{
    font-size: 17px;
    line-height: 17px;
    color: #fff;
    text-align: center;
    margin-bottom: 55px;
}
.main4 .content div{
    width: 523px;
    height: 166px;
    float: left;
    margin-bottom: 15px;
    padding-right: 25px;
    background: #ffffff;
    margin-right: 40px;
}
.main4 .content h2{
    font-size: 16px;
    line-height: 17px;
    margin-bottom: 18px;
    margin-top: 29px;
   
}
.main4 .content p{
    font-size: 12px;
    color: #777777;
    margin-bottom: 19px;
}
.main4 .content img{
    float: left;
    width: 170px;
    height: 166px;
    display: block;
    margin-right: 20px;
}
.main4 .content span{
    color: #ccc;
    font-size: 12x;
}
.main4 .content span:nth-child(2){
    float: right;
}

/* ----------main5样式-------- */
.main5{
    width: 100%;
    height: 912px;
    
   
}
.main5 .content{
    background: url(../images/images/exp_h2.jpg)no-repeat center 42px;
    height: 788px;
    padding-top: 124px;
}
.main5 .content P{
    text-align: center;
    font-size: 17px;
    line-height: 17px;
    margin-bottom: 56px;
}
.main5 .content  ul{
    width: 1140px;
    margin-bottom: 50px;
}
.main5 .content a{
    color: #ceb9b2;
    width: 285px;
    height: 130px;
    display: block;
}
.main5 .content li{
    height: 130px;
    width: 285px;
    float: left;
    display:block;
    border-bottom: 2px solid #e6e6e6;
   display: list-item
}
.main5 .content i{
    display:block;
    width: 80px;
    height: 80px;
    /* background: url(../images/images/exp_xtb.png); */
   margin: auto;
}
.main5 .content  .l1 i{
    background: url(../images/images/exp_xtb.png);
}
.main5 .content .l2 i{
    background: url(../images/images/exp_xtb.png) 0px 80px;
}
.main5 .content .l3 i{
    background: url(../images/images/exp_xtb.png)0px 160px;
}
.main5 .content  .l4 i{
    background: url(../images/images/exp_xtb.png)0px 240px;
}
.main5 .content li  div{
    margin-left: 100px;
    margin-top: 18px;
}
 .main5 .l1:hover i{
    background: url(../images/images/exp_xtb.png) 80px 0px;
}
.main5 li:hover {
    border-bottom: 2px solid #0093dd;
}
.main5 .l2:hover i{
    background: url(../images/images/exp_xtb.png) 80px 80px;
}

.main5 .l3:hover i{
    background: url(../images/images/exp_xtb.png) 80px 160px;
}
.main5 .l4:hover i{
    background: url(../images/images/exp_xtb.png) 80px 240px;
}
.main5 .content img{
  
    margin-top: 50px;
}
/* ----------main6样式---------- */
.main6{
    width: 100%;
    height: 224px;
background-image: url(../images/images/blue-bg.png);
}
.main6 .content div{
    width: 378px;
    height: 100%;
    border-right: 1px solid #0052a7;
    float: left;
}
.main6 .content h2{
    font-size: 68px;
    color: #fff;
    text-align:center;
    line-height: 68px;
    margin-top: 57px;
    position: relative;
}
.main6 .content .s2{
    background-image: url(../images/images/blue-bg.png);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 3px;
    width: 100%;
    /* display: block; */

}
.main6 .content p{
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 16px;
    margin-top: 32px;
}

/* --------footer样式--------- */
.footer{
    width: 100%;
    height: 663px;
    background-image: url(../images/images/footer_bj.jpg);
}
.footer .content{
    background: url(../images/images/contact_h2.png)no-repeat center 42px;
    position: relative;
}
.footer .content h2{
    
    color: #fff;
    font-size: 22px;
    position: absolute;
    transform: translate(-50%,0);
    top: 129px;
    left: 50%;
}
.footer .content div{
    width: 266px;
    height: 80px;
    float: left;
}
.footer .content .footer1{
    background: url(../images/images/foot_tel.png) no-repeat;
}
.footer .content .footer2{
    background: url(../images/images/foot_wx.png) no-repeat;
}
.footer .content .footer3{
    background: url(../images/images/foot_qq.png) no-repeat;
}
.footer .content .footer4{
    background: url(../images/images/foot_sq.png) no-repeat;
}
.footer .content .footer5{
    background: url(../images/images/foot_c1.png) no-repeat;
}
.footer .content .footer6{
    background: url(../images/images/foot_c2.png) no-repeat;
}
.footer .content .footer7{
    background: url(../images/images/foot_c3.png) no-repeat;
}
.footer .content .footer8{
    background: url(../images/images/foot_c4.png) no-repeat;
}
.footer .content .f1{
    position: relative;
    top:210px;
    left:40px;
    margin-right: 30px;
}
.footer .content .f2{
    position: relative;
    top:220px;
    left:40px;
    border:1px solid #333333;
    margin-right: 28px;
}
.footer .content .p1{
    position: relative;
    left: 70px;
    color: #cbcbcb;
    font-size: 16px;
    margin-bottom: 8px;
}
.footer .content .p2{
    position: relative;
    left: 70px;
    color: #fff;
    font-size: 16px;
}
.footer .content .p3{
    position: relative;
    left: 70px;
    top:34px;
    color: #aaaaaa;

}
.footer .content .p4{
    font-size: 12px;
    color: #7f7f7f;
    position: relative;
    top:280px;
    left: 40px;
    margin-bottom: 18px;
}
.footer .content .w{
    width: 140px;
    height: 170px;
}
.footer .content .w p{
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    color: #fff;
}
.footer .content .w img{
height: 140px;
width: 140px;
}
.footer .content .w1{
    position: relative;
    left: 815px;
    top:80px;
}
.footer .content .w2{
    position: relative;
    left: 835px;
    top:60px;


}