html, body {
  width: 100%;
  height: 100%;
}

#box {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
}

#box .header {
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#box .header img {
  height: 20px;
}

#box .header .left {
  width: 20px;
  height: 20px;
  margin-left: 15px;
}

#box .header .conter {
  flex: 1;
  text-align: center;
}

#box .header .right {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

#box .main {
  flex: 1;
  background: #f4f4f4;
  overflow-x: auto;
}

#box .main .banner {
  box-sizing: border-box;
  width: 100%;
  height: 285px;
  background: url(../images/images/main1.png) no-repeat;
  background-size: 100%;
  padding-top: 210px;
  margin-bottom: 10px;
}

#box .main .banner ul {
  height: 75px;
  width: 100%;
  display: flex;
  background: #fff;
}

#box .main .banner ul li {
  height: 100%;
  width: 25%;
  text-align: center;
  font-size: 8px;
  padding-top: 57px;
  box-sizing: border-box;
}

#box .main .banner ul li:nth-child(1) {
  background: url(../images/images/icon1.png) no-repeat center 8px;
  background-size: 40px 40px;
}

#box .main .banner ul li:nth-child(2) {
  background: url(../images/images/icon2.png) no-repeat center 8px;
  background-size: 40px 40px;
}

#box .main .banner ul li:nth-child(3) {
  background: url(../images/images/icon3.png) no-repeat center 8px;
  background-size: 40px 40px;
}

#box .main .banner ul li:nth-child(4) {
  background: url(../images/images/icon4.png) no-repeat center 8px;
  background-size: 40px 40px;
}

#box .main .yan {
  width: 100%;
  height: 65px;
  background: url(../images/images/bg.png);
  background-size: 100%;
  padding-top: 6px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

#box .main .yan p {
  text-align: center;
  line-height: 12px;
}

#box .main .yan p span:nth-child(1) {
  display: block;
  width: 20px;
  height: 12px;
  font-size: 9px;
  border: 1px solid #c9bea0;
  color: #d9d186;
  position: relative;
  top: 12px;
  left: 94px;
}

#box .main .yan p span:nth-child(2) {
  display: block;
  font-size: 10px;
}

#box .main .main1 .i1 {
  width: 375px;
  height: 170px;
}

#box .main .main1 ul {
  display: flex;
  overflow-y: auto;
  background: #fff;
}

#box .main .main1 ul li {
  width: 100px;
  height: 150px;
  flex-shrink: 0;
}

#box .main .main1 ul li img {
  height: 70%;
  width: 100%;
}

#box .main .main1 ul li p:nth-child(2) {
  font-size: 7px;
  width: 90px;
}

#box .main .main1 ul li p:nth-child(3) {
  font-size: 6px;
  font-weight: 600;
  text-align: center;
}

#box .main .main2 h2 {
  font-size: 13px;
  padding-top: 15px;
  width: 100%;
  text-align: center;
  word-spacing: 30px;
  background: #fff;
}

#box .main .main2 h3 {
  font-size: 8px;
  width: 100%;
  text-align: center;
  padding-top: 6px;
  margin-bottom: 30px;
  background: #fff;
  box-shadow: 0px 15px 10px #fff;
  color: #4c4c4c;
}

#box .main .main2 ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#box .main .main2 ul li {
  width: 45%;
  text-align: center;
  margin-bottom: 15px;
  background: #fff;
}

#box .main .main2 ul li img {
  width: 100%;
  height: 165px;
}

#box .main .main2 ul li h4 {
  width: 125px;
  font-size: 10px;
  line-height: 14px;
  margin: auto;
  text-align: left;
}

#box .main .main2 ul li p {
  width: 122px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  padding-bottom: 14px;
}

#box .main .main2 ul li p span:nth-child(1) {
  font-size: 10px;
  color: #fd4b7b;
}

#box .main .main2 ul li p span:nth-child(2) {
  font-size: 9px;
  color: #b9b9b9;
}

#box .footer {
  height: 65px;
}

#box .footer ul {
  height: 100%;
  width: 100%;
  display: flex;
}

#box .footer ul li {
  width: 25%;
  height: 100%;
  text-align: center;
  padding-top: 35px;
  font-size: 12px;
  border-top: 1px solid #e5e5e5;
  box-sizing: border-box;
}

#box .footer ul li:nth-child(1) {
  background: url(../images/images/tab1-2.png) no-repeat center 5px;
  background-size: 30px 30px;
}

#box .footer ul li:nth-child(2) {
  background: url(../images/images/tab2.png) no-repeat center 5px;
  background-size: 30px 30px;
}

#box .footer ul li:nth-child(3) {
  background: url(../images/images/tab3.png) no-repeat center 5px;
  background-size: 30px 30px;
}

#box .footer ul li:nth-child(4) {
  background: url(../images/images/tab4.png) no-repeat center 5px;
  background-size: 30px 30px;
}
